{% extends 'base.html' %}

{% block title %}Lists | {{ block.super }}{% endblock title %}

{% block headline %}<h1>Your Screens</h1>{% endblock headline %}

{% block content %}
<div class="row">
    <div class="col-sm-6">
        <ul class="list-group">
            {% for object in object_list %}
            <li class="list-group-item">
                <a href="{{ object.get_absolute_url }}">{{ object }}</a>
            </li>
            {% empty %}
            <li class="list-group-item">You have no Screens registered</li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-sm-6">
        <p><a href="{% url 'vads:screen:create' %}" class="btn">Register a new Screen</a></p>
    </div>
</div>
{% endblock %}